[all:vars]
image_name="registry.cn-shanghai.aliyuncs.com/99cloud-sh/djangotest-1.11.29"
# image_version="latest"
data_external_dir="/Users/wuwenxiang/local/github-mine/ZZLARGE-Project-DjangoTest/mysite/data/"
data_hostpath="/home/pear/data/djangotest-1.11.29/"
# update_data=no
data_containerpath="/home/www/mysite/src/mysite/data/"
# container_port="80"
# host_port="80"
db_git_url="https://gitlab.trystack.cn/dbbackup"
db_secret="123456"

[webserver]
fq2
